Package: czmq
Version: 3.0.2-1
Architecture: amd64
Maintainer: unknown <build@unknown>
Installed-Size: 824
Depends: libc6 (>= 2.17), libzmq3 (>= 4.0.1+dfsg)
Section: libs
Priority: optional
Homepage: http://czmq.zeromq.org
Description: High-level C binding for ØMQ http://czmq.zeromq.org
 High-level C binding for ØMQ http://czmq.zeromq.org
 Built from the ACCRE fork https://github.com/accre/czmq
